* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #27296d;
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: #5e63b6;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius:1rem ;
}

.pantalla {
    grid-column: 1 / 5;
    background-color: #27296d;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn {

    background-color: #a393eb;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}


.btn:hover {
    background-color: #7c73e6;
}

#cero {
    border-radius: 1.5rem;
    grid-column: span 2;
}

#igual {
    background-color: #f5c7f7;
    grid-row: span 2;
}

#igual:hover {
    background-color: #eba1ee;
}

#c {
    color:  #8ef6e4;
    font-weight: 600;
}

.operadores {
    font-size: medium;
}